body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(red, green, blue);
    color: #80e480;
}

.body-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    width: 800px;
    height: 700px;
    background-color: white;
    position: relative;
    margin: 150px ;
   
}
.headline {
    text-align: right;
    padding-right: 20px;
    font-size: 25px;
}

.body h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(83, 211, 83) ;

}

.body {
    padding-left: 200px;
}

.line-input {
    border: none;
    border-bottom: 1px solid green;
    width: 60%;
    color: black;
}

#gender {
   border: none;
   border-bottom: 1px solid black;
   width: 60%;
}
.box2 {
    width: 120px;
    height: 800px;
    background-color: rgb(95, 204, 95);
    position: relative;
    margin-top: -600px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
   
}
.icon {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.box3 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -350px;
    margin-right: -20px;
}
.Get:hover {
    background-color:grey ;
    transform: rotate(90deg);

}
.Get {
    width: 100px;
    height: auto;
    background-color: violet;
    display: flex;
    text-align: center;
    justify-content: center;

}
